<!doctype html>
<html>
  <head>
    <title>Socket.IO black jack</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="css/cards/cards.css" rel="stylesheet" type="text/css" media="screen" />
  </head>
  <body>

    <nav class="top-bar" data-topbar="">

      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Black Jack</a></h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#">Menu</a>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li><a href="#">Nav Button</a></li>
        </ul>
      </section>
    </nav>

    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="javascript/libs.js"></script>
    
    {{{body}}}

  </body>
</html>