<div class="row">

  <div class="large-8 columns">

    <div class="row">
      <div class="large-12 columns">
          Dealer
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
          Players
      </div>
    </div>

  </div>

  <div class="large-4 columns">

    <div class="row">
      <div class="large-12 columns">
        <button class="button radius">Join game!</button>
      </div>
    </div>
  
    <div class="row">
      <div class="large-12 columns">
        <button class="button radius hide">Start game!</button>
      </div>
    </div>
  
  </div>

</div>

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="javascript/libs.js"></script>
<script src="javascript/game/socket.js"></script>
<script src="javascript/game/domEvents.js"></script>

