{{!-- 
<div class="row">
  <div class="large-8 columns">
    <a class="button radius" href="/game">Start the game!</a>
  </div>
</div>
 --}}

<div class="large-3 large-centered columns">
  <div class="login-box">
    <div class="row">
      <div class="large-12 columns">
        <form>
          <div class="row">
            <div class="large-12 columns">
              <input type="text" name="username" id="username" placeholder="Username" />
            </div>
          </div>
          {{!-- 
          <div class="row">
             <div class="large-12 columns">
                <input type="password" name="password" placeholder="Password" />
             </div>
          </div>
          --}}
          <div class="row">
            <div class="large-12 large-centered columns">
              <input type="submit" class="button expand" value="Log In"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="javascript/home/domEvents.js"></script>
<script src="javascript/home/index.js"></script>